<h1>
    <center>Welcome to my form</center>
</h1>

<br>
<br>

<div>
    <center>

        <form action="/newQcms" method="post">
            <label for="">title:</label>
            <input type="Text" placeholder="Enter your name" name="title">
            <label for="">Nom:</label>
            <input type="Text" placeholder="Enter your name" name="text">
            <input type="submit" value="create">
            <label for="">Nom:</label>
            <input type="Text" placeholder="Enter your name" name="title">
            <label for="">Nom:</label>
            <input type="Text" placeholder="Enter your name" name="text">
            <input type="submit" value="create">
        </form>

    </center>
</div>